@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,600&display=swap');

.navbar {
  display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 15px 40px;
 background: #0d0d0d;
 color: white;
 font-family: 'Poppins', sans-serif;
 position: relative;
 z-index: 100;
}

.logo {
  font-size: 26px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  display: flex;
}

.nav-links {
  display: flex;
  gap: 35px;
  list-style: none;
  transition: all 0.4s ease;
}

.nav-links li {
  cursor: pointer;
  color: #ffffff;
  position: relative;
  transition: 0.3s;
}

.nav-links li::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: purple;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

.nav-links li:hover {
  color: purple;
}

.nav-links li:hover::after {
  width: 100%;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
  z-index: 200;
}

.search-box {
  position: relative;
  width: fit-content;
}

.search-box input {
  padding: 10px 40px 10px 15px;
  border-radius: 25px;
  border: none;
  outline: none;
  background: #1a1a1a;
  color: white;
  width: 260px;
  transition: all 0.3s ease;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

.search-box input::placeholder {
  color: #aaa;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

.nav-search-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav-search-icon:hover {
  color: #a855f7;
}

.menu-icon {
  display: none;
  font-size: 22px;
  cursor: pointer;
  transition: color 0.3s ease;
  padding-top: 10px;
}

.menu-icon:hover {
  color: #a855f7;
}


.search-dropdown {
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%; 
  min-width: unset;
  background: #1a1a1a;
  border-radius: 8px;
  max-height: 200px;
  z-index: 999;
  overflow-y: auto;
  scrollbar-width: none;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.search-dropdown li {
  padding: 10px 15px;
  cursor: pointer;
  color: white;
  transition: 0.2s;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  list-style: none;
}

.search-dropdown li:hover {
  background: #2a2a2a;
  color: purple;
}

.search-dropdown::-webkit-scrollbar {
  display: none;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar {
    padding: 15px 20px;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: #0d0d0d;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
    z-index: 10;
    margin: 0;
    padding: 0;
  }

  .nav-links.active {
    max-height: 250px;
    padding: 20px 0;
  }

  .menu-icon {
    display: block;
    font-size: 22px;
    cursor: pointer;
    color: white;
    z-index: 200;
  }

  .right-section {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .search-box {
    position: relative;
    display: flex;
    align-items: center;
  }

  .search-box input {
    position: absolute;
    right: 35px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    opacity: 0;
    padding: 8px 0;
    border-radius: 20px;
    transition: all 0.3s ease;
    background: #1a1a1a;
    pointer-events: none;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
  }

  .search-box.active input {
    width: 180px;
    opacity: 1;
    padding: 8px 35px 8px 15px;
    pointer-events: auto;
    font-size: 12px;
  }

  .search-box.active input::placeholder {
    font-size: 12px;
  }

  .nav-search-icon {
    position: relative;
    right: 0;
    transform: none;
    z-index: 2;
    font-size: 18px;
  }

 
  .search-dropdown {
    position: absolute;
    top: 150%;
    right: 0;
    left: auto;
    width: 180px; 
    background: #1a1a1a;
    border-radius: 8px;
    max-height: 200px;
    z-index: 999;
    overflow-y: auto;
    scrollbar-width: none;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .search-dropdown li {
    padding: 8px 15px;
    cursor: pointer;
    color: white;
    transition: 0.2s;
    white-space: nowrap;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  }

  .search-dropdown li:hover {
    background: #2a2a2a;
    color: purple;
  }
}


@media (max-width: 480px) {
  .search-box.active input {
    width: 100px;
    padding: 6px 28px 6px 10px;
    font-size: 11px;
    right: 23px;
  }

  .search-box.active input::placeholder {
    font-size: 11px;
  }

  .search-dropdown {
    width: 100%;   
    right: 25px;
    left: auto;
    
  }
  .search-dropdown li {
  display: block;
  width: 100%;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
     
  

  .search-dropdown li {
    padding: 6px 10px;
    font-size: 11px;
  }
}


@media (min-width: 769px) and (max-width: 1024px) {
  .search-box input {
    width: 220px;
    font-size: 13px;
  }
  
  .search-box input::placeholder {
    font-size: 13px;
  }
  
  .search-dropdown li {
    font-size: 13px;
    padding: 8px 12px;
  }
  .search-dropdown {
    width: 100%;   
    right: 40px;
    left: auto;
    
    
  }
  .search-dropdown li {
  display: block;
  width: 100%;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
}


@media (min-width: 1440px) {
  .search-box input {
    width: 300px;
    font-size: 15px;
  }
  
  .search-box input::placeholder {
    font-size: 15px;
  }
  
  .search-dropdown li {
    font-size: 15px;
    padding: 12px 18px;
  }
  .search-dropdown li {
  display: block;
  width: 100%;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
 
  
}